@media screen and (max-width:767px){
    .header{
        width: 250px;
    }
    .right{
        width: 100px;
    }
    .footer{
        width: 250px;
    }
}

@media screen and (max-width:479px){
    .header{
        width: 150px;
    }
    .content{
        float: none;
        width: 150px;
        height: 500px;
    }
    .left{
        float: none;
    }
    .right{
        width: 150px;
    }
    .footer{
        width: 150px;
    }
}