@media screen and (max-width: 767px){
    .header{
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .right{
        width: 125px;
    }
    .right2{
        width: 125px;
    }
    .right3{
        width: 75px;
    }
    .right4{
        width: 200px;
    }
    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 479px){
    .header{
        width: 150px;
    }
    .center{
        float: none;
        width: 150px;
        height: 650px;
    }
    .left{
        float: none;
        width: 150px;
    }
    .right{
        float: none;
        width: 150px;
    }
    .right2{
        width: 150px;
    }
    .right3{
        width: 150px;
    }
    .right4{
        width: 150px;
    }
    .footer{
        width: 150px;
    }
}