.wrapper{
    width: 400px;
    margin: auto;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}

.header{
    height: 100px;
    width: 400px;
    background-color: #141f40;
}
.left{
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80dfa8;
}
.right-content{
    float: left;
    width: 250px;
    height: 250px;
}
.right{
    float: left;
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}
.right2{
    float: left;
    margin-top: 50px;
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}
.right3{
    float: left;
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
}
.right4{
    clear: left;
    height: 100px;
    width: 250px;
    background-color: #8c2727;
}
.footer{
    clear: left;
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}

*{
    margin: 0;
    padding: 0;
}