.wrapper{
    margin: auto;
    width: 400px;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.content{
    width: 400px;
    height: 250px;
}

.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.right-content{
    float: left;
    width: 250px;
    height: 250px;
}
.right-1{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}
.right-2{
    float: left;
    width: 100px;
    height: 150px;
    background-color: #dbd403;
}
.right-3{
    float: left;
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
}
.right-4{
    float: left;
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}

.footer{
    clear: left;
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}