@media screen and (max-width: 479px){
    .header{
        width: 200px;
        height: 200px;
    }

    .header-back-w{
        width: 60px;
        height: 160px;
        margin-top: 20px;
        margin-left: 70px;
    }
    .box-1{
        margin-top: 10px;
        margin-left: 10px;
    }
    .box-2{
        margin-top: 60px;
        margin-left: 10px;
    }
    .box-3{
        margin-top: 110px;
        margin-left: 10px;
    }

    .left{
        float: none;
        width: 200px;
    }

    .right-content{
        height: 210px;
    }
    .right-back{
        width: 200px;
        height: 210px;
    }
    .right-box1{
        margin-top: 20px;
        margin-left: 30px;
    }
    .right-box2{
        margin-top: 80px;
        margin-left: 30px;
    }
    .right-box3{
        margin-top: 140px;
        margin-left: 30px;
    }

    .footer{
        width: 200px;
    }
}